.btn{
  background-color: $mainOrange;
  color:#fff;
  text-decoration: none;
  padding: 1.2rem 1.9rem;
  display: inline-block;
  border-radius: 100px;
  &:hover{
    background-color:$mainBlack;
  }
  &__black{
    background-color: $mainBlack;
    color:#fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    border-radius: 100px;
    &:hover{
      background-color:$mainOrange;

    }

    }
  }
  btn__triangle{
    height: 0;
    width: 0;
    background-color: white;
    border-top: 60px solid red;
    border-right: 60px solid green;
    border-bottom: 60px solid yellow;
    border-left: 60px solid black;


  }
