.row{
  @mixin clearfix;
    &__6{
      float:left;
      width: 20vw;
      padding-left: 8vw;
      @mixin atSmall{
        width: 10vw;
        padding-left: 4.6vw;
      }
  }
    &__3{
      float:left;
      width: 70vw;
      margin-left: 10vw;
      @mixin atMedium{
        width:70vw;
        margin-left: 2vw;
      }
      @mixin atSmall{
        width: 26vw;
        margin-left: 3vw;
      }
    }
    &__4{
      float:left;
      width: 15vw;
      margin-left: 5vw;
      @mixin atSmall{
        margin-left: 6.8vw;
      }
    }

  }

  .contact-row{
    max-width: 1300px;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .row__2{
    box-sizing: border-box;
    width:45%;
    text-align: center;
    .icon{
      display: block;
      margin-left:auto;
      margin-right: auto;
    }
  }
