.site-header{
position:absolute;
width:100%;
z-index:2;
background-color: rgba(0,0,0, .3);
&__btn{
  float: right;
  margin:10px;
}
&__logo{
  position: absolute;
  top:-12px;
  & img{
    width:150px;
    height: 150px;
    @mixins atMedium{
      width:200px;
    }

  }

}
}
