#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
 }

 #testimonial p{
	font-size:20px;
	font-family:'Josefin Sans';
	text-align:justify;
	color:#000;
}

#testimonial p:first-child::first-letter{
 font-size:30px;
 font-family:'BaroqueScript';
 text-align:justify;
 font-weight: bold;
 color:#000;
 margin-left: 10px;
}
#testimonial p.costumer{
	font-size:15px;
	color:#666;
}
.icon--quote-left{
  float: left;
}

.icon--quote-right{
  float: right;
}
